@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$font-family: "Poppins" !default;
$font-family-Dosis: "Dosis" !default;

$white: #fff !default;
$light-gray: #808080 !default;

$red: #d41313 !default;

$primary:#669ed1 !default;

$white: rgb(243, 242, 242) !default;
$light-white: #f9f9f9 !default;
$black: #4c4c4c !default;
$dark-black: #0e0e0e !default;
$card-box-shadow: 0px 0px 10px 1px rgba(144, 144, 144, 0.3) !important;
$content-bg: rgba(231, 231, 231, 0.85) !important;
$bg-opacity: 1 !important;
$border: 1px solid $primary !default;
$bold-border: 3px solid $primary !default;

$border-radius-10: 10px !default;
$border-radius-20: 20px !default;
$border-radius-24: 24px !default;

$text-uppercase: uppercase !default;

$font-12: 12px !default;
$font-14: 14px !default;
$font-16: 16px !default;
$font-18: 18px !default;
$font-20: 20px !default;
$font-22: 22px !default;
$font-24: 24px !default;
$font-26: 26px !default;
$font-28: 28px !default;
$font-32: 32px !default;
$font-36: 36px !default;

$font-weight-300: 300 !default;
$font-weight-400: 400 !default;
$font-weight-500: 500 !default;
$font-weight-600: 600 !default;
$font-weight-700: 700 !default;
$font-weight-800: 800 !default;
