@import "../../Assets/Scss/veriables.scss";

.cardDesign {
  background: $white;
  border-radius: $border-radius-20;
  box-shadow: var(--card-box-shadow);
  border: none;
  padding: 20px 30px 28px;
  &.cardLayout {
    opacity: var(--bg-opacity);
  }
}
